[Unit]
Description=Borg Backup Cronjob for %i Docker Volumes
Wants=borg-backup@%i.timer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/borg/borg.conf
ExecStart=/opt/backup/backup -p -a %i

[Install]
WantedBy=multi-user.target
