[Unit]
Description=Borg Backup Cronjob for Checks
Wants=borg-check@%i.timer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
EnvironmentFile=/etc/borg/borg.conf
ExecStart=/opt/backup/check

[Install]
WantedBy=multi-user.target
